<!DOCTYPE html>
<html>
  <head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'base.css' %}">
    <title>Admin Dashboard</title>
  </head>
  <body>
    <div class="main-container" style="background: #f1e3e3; height: 2000px; position: absolute; overflow: hidden; width: 100%;">
      <div class="header" style="background: #6b4848; width: 100%; height: 106px; position: absolute; left: 0px; top: 0px;"></div>
      <div class="nav-links" style="display: flex; justify-content: flex-end; align-items: center; height: 106px; padding-right: 40px; position: relative; z-index: 1;">
        <div class="nav-link" style="margin-left: 20px;">
          <a href="" class="link" style="color: #ffffff; font-family: 'Inter-Bold', sans-serif; font-size: 12px; font-weight: 700;">Dashboard</a>
        </div>
        <div class="nav-link" style="margin-left: 20px;">
          <a href="" class="link" style="color: #ffffff; font-family: 'Inter-Bold', sans-serif; font-size: 12px; font-weight: 700;">Events</a>
        </div>
        <div class="nav-link" style="margin-left: 20px;">
          <a href="" class="link" style="color: #ffffff; font-family: 'Inter-Bold', sans-serif; font-size: 12px; font-weight: 700;">Community </a>
        </div>
        <div class="nav-link" style="margin-left: 20px;">
          <a href="" class="link" style="color: #ffffff; font-family: 'Inter-Bold', sans-serif; font-size: 12px; font-weight: 700;">Profile</a>
        </div>
        <div class="nav-link" style="margin-left: 20px;">
          <a href="{% url 'resources' %}" class="link" style="color: #ffffff; font-family: 'Inter-Bold', sans-serif; font-size: 12px; font-weight: 700;">Resources</a>
        </div>
        <div class="nav-link" style="margin-left: 20px;">
          <form action="{% url 'logout' %}" method="post" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="link" style="background: none; border: none; color: #ffffff; font-family: 'Inter-Bold', sans-serif; font-size: 12px; font-weight: 700; cursor: pointer;">Logout</button>
          </form>
        </div>
      </div>
      <img class="logo" style="width: 158.74px; height: 106px; position: absolute; left: 0px; top: 0px; object-fit: cover;" src="{% static 'img/logo.png'%}" />
      <div style="background: #f1e3e3; height: 926px; position: relative; overflow: hidden;">
        <div style="color: #000000; text-align: left; font-family: 'Inter-Bold', sans-serif; font-size: 32px; font-weight: 700; position: absolute; left: 65px; top: 138px; width: 298px; height: 39px;">
          <img class="pngegg-1" style="width: 32px; height: 31px; object-fit: cover; margin-right: 10px;" src="{% static 'img/member.png' %}" />Members Panel
        </div>
        <div style="width: 221px; height: 83px; position: static">
          <div style="width: 221px; height: 83px; position: static">
            <div style="width: 221px; height: 83px; position: static">
              <div style="background: #d9d9d9; width: 221px; height: 83px; position: absolute; left: 65px; top: 253px; display: flex; align-items: flex-start; justify-content: flex-start; padding: 10px;">
                <a href="admin/membership/" style="display: flex; align-items: center; text-decoration: none;">
                  <div style="color: #000000; text-align: left; font-family: 'Inter-Bold', sans-serif; font-size: 15px; font-weight: 700;">
                    All members
                  </div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div style="width: 221px; height: 83px; position: static">
          <div style="background: #d9d9d9; width: 221px; height: 83px; position: absolute; left: 363px; top: 253px; display: flex; align-items: flex-start; justify-content: flex-start; padding: 10px;">
            <a href="admin_control_membership.html" style="display: flex; align-items: center; text-decoration: none;">
              <div style="color: #000000; text-align: left; font-family: 'Inter-Bold', sans-serif; font-size: 15px; font-weight: 700;">
                Pending members
              </div>
            </a>
          </div>
        </div>
        <div style="background: #d9d9d9; width: 300px; height: 207px; position: absolute; right: 65px; top: 573px;"></div>
        <div style="color: #000000; text-align: left; font-family: 'Inter-Bold', sans-serif; font-size: 20px; font-weight: 700; position: absolute; right: 65px; top: 586px; width: 245.12px; height: 27.4px;">
          Queries and feedback
        </div>
        <img class="black-icon-11201-1" style="width: 31.14px; height: 20.76px; position: absolute; left: 69.02px; top: 463px; object-fit: cover;" src="{% static 'img/.png' %}" />
        <div style="background: #d9d9d9; width: 773.53px; height: 357px; position: absolute; left: 65px; top: 423px;"></div>
        <div style="color: #000000; text-align: left; font-family: 'Inter-Bold', sans-serif; font-size: 20px; font-weight: 700; position: absolute; left: 113.22px; top: 459px; width: 193.88px; height: 27.4px;">
          Upcoming Events
        </div>
        <div style="width: 770px; height: 362px; position: static">
          <div style="background: #d9d9d9; width: 770px; height: 362px; position: absolute; left: 65px; top: 424px;"></div>
          <div style="color: #000000; text-align: left; font-family: 'Inter-Bold', sans-serif; font-size: 20px; font-weight: 700; position: absolute; left: 111px; top: 449px; width: 193px; height: 33px;">
            Upcoming Events
          </div>
          <img class="black-icon-11201-12" style="width: 31px; height: 25px; position: absolute; left: 79px; top: 447px; object-fit: cover;" src="{% static 'img/events.png' %}" />
          <img class="image-2" style="width: 113px; height: 97px; position: absolute; left: 94px; top: 493px; object-fit: cover;" src="image-20.png" />
          <img class="image-3" style="width: 117px; height: 103px; position: absolute; left: 90px; top: 640px; object-fit: cover;" src="image-30.png" />
          <div style="color: #000000; text-align: left; font-family: 'Inter-Bold', sans-serif; font-size: 20px; font-weight: 700; position: absolute; left: 264px; top: 541px; width: 146px; height: 53px;">
            Diwali Event
          </div>
          <div style="color: #000000; text-align: left; font-family: 'Inter-Bold', sans-serif; font-size: 20px; font-weight: 700; position: absolute; left: 256px; top: 677px; width: 160px; height: 37px;">
            New Year Event
          </div>
        </div>
        <div style="width: 221px; height: 83px; position: static; margin-top: 20px;">
          <div style="background: #d9d9d9; width: 221px; height: 83px; position: absolute; right: 65px; top: 423px;"></div>
        </div>
        <div style="color: #000000; text-align: left; font-family: 'Inter-Bold', sans-serif; font-size: 20px; font-weight: 700; position: absolute; right: 65px; top: 440px; width: 193.88px; height: 27.4px;">
          Course Modules
        </div>
        <img class="image-4" style="width: 134.61px; height: 77px; position: absolute; right: 65px; top: 473px; object-fit: cover;" src="image-40.png" />
        <div style="color: #000000; text-align: left; font-family: 'Inter-Bold', sans-serif; font-size: 15px; font-weight: 700; position: absolute; right: 65px; top: 498px; width: 112px; height: 59px;">
          AI Course
        </div>
      </div>
    </div>
  </body>
</html>